doctype html
html
  head
    
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans')
    link(rel='stylesheet', href='/css/style.css')   
    script(src='//code.jquery.com/jquery-1.11.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/index.js')
    title Chatroom
  body
    h1(style="color: red; text-align: center") Live ChatRoom
    div(style="color: red;")
      div.inlineBlock
        span Your name:
          input(type="text", value=" ", style="background-color: blue; color: orange; width: 300px; height:40px; font-size: 35px")#name
        br
        form#messageForm
          textarea(rows="7", cols="60", placeholder="Say something and press enter(maximum 300 characters)",maxlength=300, style ="background-color: black;color: yellow; font-size: 20px")#outgoingMessage
          br
          input(type="button", value="SEND", disabled=true, style="backround-color: purple; color:black; ")#send
      div.inlineBlock.topAligned
        b Participants
        br
        div(style = "color: gold")#participants
    div(style = "color: Yellow")#messages
