body {
  background-image: url(https://wallpapercave.com/wp/EIvLjKy.jpg);
  padding: 3em;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

textarea {
  resize: none;
}

.inlineBlock {
 display: inline-block;
}

.topAligned {
 vertical-align: top;
}
